<address class="contact-info">
  <h2 class="text-4xl">New Literacy Media Group</h2>
  <a class="text-2xl" href="mailto:contact@newliteracy.online">contact@newliteracy.online</a><br/>
  <a class="text-2xl" href="tel:+16163007603">+1616.300.7603</a><br/>
  <a class="text-2xl" href="tel:+19415250079">+1941.525.0079</a><br/>
</address>